*{ margin: 0;
   padding: 0;
 }

.debug{
   border: 1px solid black;
 }

.header{
   margin: 40px;
   padding-top: 20px;
  /* border-bottom: solid 3px #575BB3;*/
}

.wrapper{
  background-color: #B0C4DE;
}
.contact-image{
    width: 30px;
   padding: 2px;
}

.container{
  background-color: #FFF ;
}

h5{
  text-align: right;
  padding-top: 25%;
}
.item{
  border-right: solid 3px #575BB3;
  margin-right: 10px;
}

.item-text{
  margin-top: 20px;
}

body{
  font: 16px Helvetica, Sans-Serif !important;
  background-color:#F5F5F5 !important;
}

#page-wrap{
  width: 800px;
  margin: 40px auto 60px;
}

#pic{
  margin-top: 8px;
  width: 200px;
  border-radius: 50%;
}
