*{ margin: 0;
   padding: 0;
 }

/*xs < 768*/
@media screen and(max-width: 767px){

}

/*sm*/
@media screen and(min-width: 768px){

}

/*sm*/
@media screen and(min-width: 992px){

}

/*lg*/
@media screen and(min-width: 1200px){

}
.debug{
   border: 1px solid black;
 }

.header{
   margin: 40px;
   padding-top: 20px;
}

.content{
  margin: 0 auto;
}

.contact-image{
    width: 30px;
   padding: 2px;
}

.container{
  background-color: #FFF ;
}

.item{
  margin-top: 20px;
  border-bottom: solid 3px #575BB3;
}

.item-text{
  color: #000 !important;
  margin-top: 20px;
}

.dropdown{
  text-align:center;
}

.btn-default{
  background: #FFF;
}


h1, h3, h5{
  font-family: Arial, sans-serif !important;
}

body{
  font-family: Arial, sans-serif !important;
  font-size: 16px !important;
  background-color:#F5F5F5 !important;
}

.nav-tabs>li.active>a, a{
  color:#000 !important;
}

.active>a:hover, a:hover{
  color: #FE2E2E !important;
}

.nav-tabs>li.active{
  background-color: #black !important;
}

.nav-tabs> li.active > a{
  background-color: #F5F5F5 !important;
}

#page-wrap{
  width: 800px;
  margin: 40px auto 60px;
}

#pic{
  margin-top: 8px;
  width: 200px;
  border-radius: 50%;
}
