*{ margin: 0;
   padding: 0;
 }

 .debug{
   border: 1px solid black;
 }

.contact-image{
    width: 40px;
   padding: 2px;
}

body{
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
  background-color:#F5F5F5 !important;
}

.container{
  background-color: #FFF ;
}

#page-wrap{
  width: 800px;
  margin: 40px auto 60px;
}

#pic{
  float: left;
  margin-top: 8px;
  width: 200px;
  border-radius: 50%;
}
